.lds-ecommpay {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ecommpay div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #5a5a5a;
    animation: lds-ecommpay 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds-ecommpay div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}
.lds-ecommpay div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}
.lds-ecommpay div:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
}

#ecommpay-loader {
    max-width: 100%;
    text-align: center;
    display: none;
}

#ecommpay-loader-embedded {
    max-width: 100%;
    text-align: center;
}

#ecommpay-iframe {
    max-width: 100%;
    display: none;
}

#ecommpay-iframe-embedded {
    max-width: 100%;
    display: none;
}

.ecommpay-loader-overlay {
    z-index: 1000;
    border: medium none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgb(255, 255, 255) none repeat scroll 0 0;
    opacity: 0.6;
    cursor: wait;
    position: fixed;
}

@keyframes lds-ecommpay {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
